<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="/admin">admin</a-->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://listers.in/admin/">Production</a></li>
            <li><a href="http://sandbox.listers.in/admin/">Sandbox</a></li>
            <li><a href="http://forum.listers.in/" target="_blank">Forum</a></li>
            <li><a href="http://listers.in/blog/wp-admin/" target="_blank">Blog</a></li>
            <li><a href="https://mail.google.com/" target="_blank">Gmail</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/admin/">Users</a></li>
            <li><a href="/admin/index2">Accounts</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>email</th>
                  <th>lastused_at</th>
                  <th>created_at</th>
                  <th>period.end</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i=0; i<users.length; i++) { %>
                <tr>
                  <td>
                    <a href="/admin/signin?email=<%= users[i].email %>" target="usersignin">
                      <%= users[i].email.replace(/@.+$/, '') %>
                    </a>
                    
                    <% if (users[i].userids2 && users[i].userids2.length > 0) {  %>
                    <span class="badge pull-right"><%= users[i].userids2.length %></span>
                    <% } %>
                    
                    <% if (users[i].status == 'business') {  %>
                    <span class="label label-success">B</span>
                    <% } %>
                  </td>
                  <td>
                    <%= users[i].lastused_at %>
                  </td>
                  <td>
                    <% if (users[i].hasOwnProperty('created_at')) { %>
                    <%= users[i].created_at %>
                    <% } %>
                  </td>
                  <td>
                    <% if (users[i].hasOwnProperty('period')) { %>
                    <%= users[i].period.end %>
                    <% } %>
                  </td>
                  <td>
                    <%= users[i].newlook %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
